<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="InspectCustomer.css">
  <style>
    select {

    }
  </style>
</head>
<body>

<div class="form-container">
  <form id="form" action="/createRentalContract" method="post">
    <h3 class="gradient-text">RentalContract info</h3>
    <label>Start</label>
    <input type="datetime-local" name="start_datetime" required> <br>
    <label>End</label>
    <input type="datetime-local"  name="end_datetime" required> <br>
    <label for="person">Person</label>
    <select name="person_id"  style="width: 27%; height: 40px;" id="person" required><br>
      <option th:each="customer : ${customers}" th:value="${customer.person_id}" th:utext="${customer.person_id}+' : '+${customer.first_name}+' '+${customer.last_name}">
      </option>
    </select> <br>
    <label for="motorhome">Motorhome</label>
    <select name="motorhome_id" style="width:27%; height: 40px;" id="motorhome" required><br>
      <option th:each="motorhome : ${motorhomes}" th:value="${motorhome.motorhome_id}" th:utext="${motorhome.motorhome_id}+' : '+${motorhome.brand_name}+' : '+${motorhome.model_name}">
      </option>
    </select> <br>
    <label for="pickup">Pickup</label>
    <select name="pickup_id"  style="width: 27%;height: 40px;" id="pickup" required> <br>
      <option th:each="contact_point : ${contact_points}"  th:value="${contact_point.contact_point_id}" th:utext="${contact_point.contact_point_id}+' : '+${contact_point.contact_point_name}">
      </option>
    </select> <br>
    <label for="dropoff">Dropoff</label>
    <select name="dropoff_id" style="width: 27%;height: 40px;" id="dropoff" required><br>
      <option th:each="contact_point : ${contact_points}" th:value="${contact_point.contact_point_id}"  th:utext="${contact_point.contact_point_id}+' : '+${contact_point.contact_point_name}">
      </option>
    </select> <br>
    <input type="submit" value="Create">

  </form>
</div>

</body>
</html>