<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhomes</title>
    <link rel="stylesheet" href="Index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:whgt@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/ccs/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIs>+ywDW>CvqsWgccV3gFoRBv0z+8dLJgyAHIhr35VZc2oM/gI1w=="
          crossorigin="anonymous">

    <style>
        .test-text {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 50px;
            position: relative;
            white-space: nowrap;
            -webkit-text-stroke: 3px black;
            color: transparent;
        }

    </style>
</head>
<body>
<h1 class="gradient-text">Nordic Motorhome Rental</h1>
<a th:href="@{'/'}">
<img src="Logo1.png" style="position: absolute; left: 0%; top: -8%;">
</a>

<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item">
            <div class="dropdown-container">
                <a class="nav-link" href="#">Customers<i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-content">
                    <a th:href="@{'/viewAllCustomers'}" class="dropdown-link"> View All </a>
                    <a th:href="@{'/createCustomer'}" class="dropdown-link"> Create new </a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown-container">
                <a class="nav-link" href="#">Employees <i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-content">
                    <a th:href="@{'/viewAllEmployees'}" class="dropdown-link"> View All </a>
                    <a th:href="@{'/createEmployee'}" class="dropdown-link"> Create new </a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown-container">
                <a class="nav-link" href="#">Contracts <i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-content">
                    <a th:href="@{'/viewAllRentalContracts'}" class="dropdown-link"> View All </a>
                    <a th:href="@{'/createRentalContract'}" class="dropdown-link"> Create New </a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown-container">
                <a class="nav-link" href="#">Motorhomes <i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-content">
                    <a th:href="@{'/viewAllMotorhomes'}" class="dropdown-link"> View All </a>
                    <a th:href="@{'/createMotorhome'}" class="dropdown-link"> Create New </a>
                </div>
            </div>
        </li>
    </ul>
</nav>

<div class="form-container">

    <div>



        <form id="form" action="/bookMotorhome" method="post">
            <h3 class="gradient-text" style="font-size: 225%;">Book motorhome</h3>

            <input type="datetime-local" placeholder="start date" name="start_datetime" required>
            <input type="datetime-local" placeholder="end date" name="end_datetime" required>
            <input type="submit" value="Search" style="position:absolute; left:825px; top:135px;">
            <div>
                <label for="capcitySlider">Num. of people</label>
                <input type="range" id="capcitySlider" min="1" max="6" value="3" name="capacity"> <p style="position: absolute; left: 70%; top: 42% "><span id="capacityValue"></span></p>

                <script>
                    var slider = document.getElementById("capcitySlider");
                    var output = document.getElementById("capacityValue");
                    output.innerHTML = slider.value; // Display the default slider value

                // Update the current slider value (each time you drag the slider handle)
                    slider.oninput = function() {
                    output.innerHTML = this.value;
                }
                </script>
                <br>

            </div>
        </form>
    </div>

</div>




</body>
</html>