<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="InspectTemplate.css">
</head>
<body>

<div class="form-container">
  <div th:if="${person.person_type}==customer">
  <form id="form1" action="/viewAllCustomers" method="get">
    <h3 class="gradient-text">Person info</h3>
    <label>Person ID</label>
    <input type="text" th:placeholder="${person.person_id}" name="person_id" th:value="${person.person_id}" disabled><br>
    <label>First name</label>
    <input type="text" th:placeholder="${person.first_name}" name="first_name" th:value="${person.first_name}" disabled> <br>
    <label>Last name</label>
    <input type="text" th:placeholder="${person.last_name}" name="last_name" th:value="${person.last_name}" disabled> <br>
    <label>Email</label>
    <input type="email" th:placeholder="${person.email}" name="email" th:value="${person.email}" disabled> <br>
    <label>Phone</label>
    <input type="text" th:placeholder="${person.phoneNumber}" name="phoneNumber" th:value="${person.phoneNumber}" disabled><br>
    <label>Birthdate</label>
    <input type="date" th:placeholder="${person.birthdate}" name="birthdate" th:value="${person.birthdate}" disabled> <br>
    <label>Person type</label>
    <input type="text" th:placeholder="${person.person_type}" name="person_type" th:value="${person.person_type}" disabled> <br>
    <label>Person role</label>
    <input type="text" th:placeholder="${person.person_role}" name="person_role" th:value="${person.person_role}" disabled> <br>
    <label>Address</label>
    <input type="text" th:placeholder="${person.street_name}" name="street_name" th:value="${person.street_name}" disabled> <br>
    <label>Zipcode</label>
    <input type="text" th:placeholder="${person.zipcode}" name="zipcode" th:value="${person.zipcode}" disabled> <br>
    <label>City</label>
    <input type="text" th:placeholder="${person.city_name}" name="city_name" th:value="${person.city_name}" disabled> <br>
    <label>Country</label>
    <input type="text" th:placeholder="${person.country_name}" name="country_name" th:value="${person.country_name}" disabled> <br>
    <input type="submit" value="Return">

  </form>
</div>
  <div th:if="${person.person_type}==employee">
    <form id="form2" action="/viewAllEmployees" method="get">
      <h3 class="gradient-text">Person info</h3>
      <label>Person ID</label>
      <input type="text" th:placeholder="${person.person_id}" name="person_id" th:value="${person.person_id}" disabled><br>
      <label>First name</label>
      <input type="text" th:placeholder="${person.first_name}" name="first_name" th:value="${person.first_name}" disabled> <br>
      <label>Last name</label>
      <input type="text" th:placeholder="${person.last_name}" name="last_name" th:value="${person.last_name}" disabled> <br>
      <label>Email</label>
      <input type="email" th:placeholder="${person.email}" name="email" th:value="${person.email}" disabled> <br>
      <label>Phone</label>
      <input type="text" th:placeholder="${person.phoneNumber}" name="phoneNumber" th:value="${person.phoneNumber}" disabled><br>
      <label>Birthdate</label>
      <input type="date" th:placeholder="${person.birthdate}" name="birthdate" th:value="${person.birthdate}" disabled> <br>
      <label>Person type</label>
      <input type="text" th:placeholder="${person.person_type}" name="person_type" th:value="${person.person_type}" disabled> <br>
      <label>Person role</label>
      <input type="text" th:placeholder="${person.person_role}" name="person_role" th:value="${person.person_role}" disabled> <br>
      <label>Address</label>
      <input type="text" th:placeholder="${person.street_name}" name="street_name" th:value="${person.street_name}" disabled> <br>
      <label>Zipcode</label>
      <input type="text" th:placeholder="${person.zipcode}" name="zipcode" th:value="${person.zipcode}" disabled> <br>
      <label>City</label>
      <input type="text" th:placeholder="${person.city_name}" name="city_name" th:value="${person.city_name}" disabled> <br>
      <label>Country</label>
      <input type="text" th:placeholder="${person.country_name}" name="country_name" th:value="${person.country_name}" disabled> <br>
      <input type="submit" value="Return">

    </form>
  </div>


</div>


</body>
</html>