<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>View All Motorhomes</title>
  <link rel="stylesheet" href="ViewAll.css">
<style>
  #knap1 {
    padding: 8px;
  }
  #knap2 {
    padding: 8px;
  }
  #knap3 {
    padding: 8px;
  }
</style>
</head>
<body>
<h1>View All Contracts</h1>
<a th:href="@{'/'}">
  <img src="Logo1.png" style="position: absolute; left: 0%; top: -100%;">
</a>
<div class ="form-container">
  <table class="searchTable">
    <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Start</th>
      <th>End</th>
      <th>MH model</th>
      <th>MH brand</th>
      <th class="options">Options</th>
      <th>Appearance</th>

    </tr>
    </thead>
    <tbody>
      <tr th:each="rentalContract: ${rentalContracts}">
        <td th:text="${rentalContract.rental_contract_id}"></td>
        <td th:utext="${rentalContract.first_name}+ ' ' + ${rentalContract.last_name}"></td>
        <td th:text="${rentalContract.toDateStringStart}"></td>
        <td th:text="${rentalContract.toDateStringEnd}"></td>
        <td th:text="${rentalContract.model_name}"></td>
        <td th:text="${rentalContract.brand_name}"></td>
        <div id="buttonBox" class="buttonBox">
          <td style="border-right: none;">
            <div id="knap1">
              <a th:href="@{'/inspectRentalContractId='+${rentalContract.rental_contract_id}}">
                <button class="btn-inspect">Inspect</button>
              </a>
            </div>
            <div id="knap2">
              <a th:href="@{'/updateRentalContractId='+${rentalContract.rental_contract_id}}">
                <button class="btn-update">Update</button>
              </a>
            </div>

            <div id="knap3">
              <a th:href="@{'/deleteRentalContractId='+${rentalContract.rental_contract_id}}">
                <button class="btn-delete" onclick="alert('Det er rigtigt ja')">Delete</button>
              </a>
            </div>
          </td>
        </div>
      </tr>
    </tbody>
  </table>
  </div>




</body>
</html>